body{
    font-family: 'Abril Fatface','Raleway','Fontin' sans-serif;
    background:aliceblue;
}
h1{
   font-size:94px; 
}
.margin{
    margin-left: 2%;
    color:#e6c032;
    padding-top: 50px;
}
header{
    margin-top:-60px;
    background:black;
    height:187px;
}
header p{
    color:darkgrey;
    margin-top: -105px;
    font-size: 20px;
    margin-left:60%;
}
.home{
    background-image: url("assets/big_img.jpg"); 
    background-repeat: no-repeat;
    width:960px;
    padding-left: 30px;
  padding-right: 30px;
    
}